body {
  margin: 0;
}

.bg-container {
  background-color: #ffffff;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.notification-container {
  display: flex;
  flex-direction: column;
}

.main-heading {
  color: #0f172a;
  font-family: "Roboto";
  text-align: center;
  font-size: 36px;
}

.notification-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.n-img {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-left: 10px;
}

.n-title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  margin: 20px;
}

.n-1 {
  background-color: #0b69ff;
}

.n-2 {
  background-color: #2dca73;
}

.n-3 {
  background-color: #ffb800;
}

.n-4 {
  background-color: #ff0b37;
}
